<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Locadora - Filmes em destaque</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-ZYxu2FQVJfRpQixmXdYdWkjUsP0k2eBzlGQ1uvWVzLm8wk0xMQqNoL9UcfyXrJ5LzPMji1wqhw9JZkb0JhKbbA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body> 
  <div class="container my-5">
    <h1 class="text-center mb-5">Filmes em destaque</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://via.placeholder.com/400x200.png?text=Filme+1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Filme 1</h5>
            <p class="card-text">Descrição do Filme 1</p>
            <a href="#" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://via.placeholder.com/400x200.png?text=Filme+2" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Filme 2</h5>
            <p class="card-text">Descrição do Filme 2</p>
            <a href="#" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://via.placeholder.com/400x200.png?text=Filme+3" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Filme 3</h5>
            <p class="card-text">Descrição do Filme 3</p>
            <a href="#" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
</body>     