@*@{
    ViewData["Title"] = "Gerencimento - Locadora";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>

    <a href="/Pages/Usuario/usuario.html">Acessar a página do usuário</a>
    <a href="/Pages/Inicio/Inicio.html">Acessar a página de Inicio</a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
