<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sua Locadora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Pages/Inicio/Inicio.html">Início</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Pages/Usuario/usuario.html">Usuários</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Filmes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Locação</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Clientes</a>
            </li>
        </ul>
    </div>
</nav>

@*
@{
    ViewData["Title"] = "Gerencimento - Locadora";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>

    <a href="/Pages/Usuario/usuario.html">Acessar a página do usuário</a>
    <a href="/Pages/Inicio/Inicio.html">Acessar a página de Inicio</a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
